@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Caveat&family=Fuzzy+Bubbles&family=Grandstander:wght@100&family=Roboto+Mono:wght@300&display=swap');

*{margin: 0;
padding: 0; 
}


/*GRID*/
/*generales*/

.gridBody {
	display: grid;
	width: 100%;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(3, auto);
	grid-template-areas: "nav" "main" "footer";
	}
.gridSubMain {
	display: grid;
	width: 100%;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(3, auto);
	grid-template-areas: "intro intro" 
	"fotos fotos" "table map";
	grid-gap: 2rem;
	}

/*grid areas*/

.gridNav {
	grid-area: nav;
	width: 100%;
	}
.gridMain {
	grid-area: main;
	}
.gridFooter {
	grid-area: footer;
	}
.gridIntro {
	grid-area: intro;
	justify-items: center;
	}
.gridFotos {
	grid-area: fotos;
	}
.gridTable {
	grid-area: table;
	margin: 1rem auto;
	}
.gridMap {
	grid-area: map;
	justify-content: space-between;
	margin: 1rem;
	}


/*ESTILOS*/
/*generales*/

html{
	font-size: 1.4rem; 
	font-family: 'Architects Daughter', cursive;
	color: darkgreen;
	line-height: 1.7rem;
	box-sizing: border-box;
	background-image: url(../img/wall.png);
	background-color: lightgreen;
	background-size: cover;
	background-attachment: fixed;
	overflow-x: hidden;
	}

.tituH1 {
	text-align: center;
	font-size: 2.7rem;
	color: #5F1A73;
	text-shadow: 1px 1px 2px rgba(83, 0, 100, 0.507);
	font-family:'Caveat', cursive;
	margin: 1.5rem auto;
	}
.tituH2 {
	text-align: center;
	font-size: 1.8rem;
	color: rgb(157, 11, 11);
	text-shadow: 1px 1px 1px rgba(157, 11, 11, 0.685);
	font-family:'Architects Daughter', cursive;
	margin: 5px auto;
	}
.tituH3 {
	font-size: 1.4rem;
	font-family: 'Architects Daughter', cursive;
	text-align: center;
	color: darkgreen;
	margin: 0.8rem auto;
	}
.listas {
	list-style-type: disc;
	list-style-position: inside;
	}
.w100 {
	width: 100%;
	}
.figures {
	text-align: center;
	font-size: xx-large;
	font-family:'Caveat', cursive;
	font-size: 3rem; 
	color: #5F1A73;
	text-shadow: 1px 1px 2px rgba(83, 0, 100, 0.507);
	margin: 10px auto;
	}
.figure {
	box-shadow: 4px 4px 15px 4px #601a73b4;
	border-radius: 5px;
	margin: 10px auto;
	width: 99%;
	}
.figCap {
	margin: 1.2rem auto
	}


/*NAV*/

.logo {
	color: darkgreen;
	font-family:'Caveat', cursive;
	font-size: x-large;
	
	}
.vegg {
	margin-top: -20px;
	margin-left: 10px;
	text-shadow: 1px 1px 2px rgba(0, 100, 0, 0.507);
	}
nav {
	width: 100%;
	background: linear-gradient(to right,rgba(60, 233, 80, 0.3), 
	rgba(146, 119, 245, 0.3));
	}
nav ul {display: inline-block;}	
nav ul a {
	font-size: x-large;
	text-decoration: none;
	list-style: none;
	color:  darkgreen;
	}
ul a:hover {
	font-weight: bolder;
	}
.menu >li {
	position: relative;
	display: inline-block;
	}
.menu >li >a {
	display: block;
	}
.subMenu {
	list-style: none;
	position: absolute;
	width: 150%;
	display: none;
	background-color: rgba(174, 234, 181, 0.918);
	line-height: 3rem;
	border-radius: 1rem;
	padding-left: 1rem;
	}
.subMenu li a {
	display: block;
	}
	
.menu li:hover .subMenu {
	display: block;
	}
 
.flexNav {
	display: flex;
	justify-content: space-between;
	}
.flexMenu {
	display: flex;
	width: 70%;
	justify-content: space-around;
	align-self: center;
	}
.iconosNav {
	display: none;
	}	


/*MAIN*/

.mainA {
	padding: 5px;
	border-radius: 30% 30% 10% 10%;
	background: radial-gradient(circle, rgba(111, 193, 231, 0.445) 0%, rgba(195,6,242,0.2049194677871149) 90%);
	width: 60%;
	margin: 1.4rem auto;
	box-shadow: 4px 4px 15px 0 #601a738f;
	}
.veggiecita {
	text-align: center;
	text-shadow: 1px 1px 2px rgba(0, 100, 0, 0.507);
	font-size: 3rem;
	color: darkgreen;
	font-family: 'Caveat', cursive; 
	margin: 1rem auto;
	}	
.mainP {
	text-align: center;
	font-size:x-large;
	color: #5F1A73;
	} 
.mainF:hover {
	box-shadow: 0.5rem 0.5rem 4rem 0 rgba(197, 111, 255, 0.932);
	}
.flexFotos {
	display: flex;
	justify-content: space-around;
	}


/*TABLE*/

table {
	background-color: #3dfa4a2d;
	width: 40%;
	margin: auto;
	text-align: center;
	border: solid 1px darkgreen;
	}
table,th,td,tr {
	border-color: darkgreen;
	border-bottom: solid 1px;
	border-collapse: collapse;
	padding: 2px;	
	}
.tableHead {
	background: linear-gradient(to left,rgba(60, 233, 80, 0.3), 
	rgba(146, 119, 245, 0.3));
	}
tr:hover {
	background: linear-gradient(to left,rgba(60, 233, 80, 0.3), 
	rgba(146, 119, 245, 0.3));
	}	
.flexTable {
	display: flex;
	flex-direction: column;
	justify-content: center;
	}


/*MAP*/

.figureMap {
	border: solid 1px darkgreen;
	border-radius: 5px;
	align-self: center;
	}
.flexMap {
	display: flex;
	flex-direction: column;
	}
	

/*DIPS SALADAS DULCES*/

.figuresGaleria {
	box-shadow: 4px 4px 15px 1px rgba(0, 100, 0, 0.918);
	border-radius: 4px;
	width: 80%;
	}
.figuresGaleria:hover {
	box-shadow: 0.5rem 0.5rem 4rem 0 rgba(169, 81, 228, 0.76);
	}
.figCapGaleria {
	color:#5F1A73;
	font-size: larger;
	text-align: center;
	}
.marginSection {
	margin-top: 4rem;
	}
		
.flexRecetas {
	display: flex;
	justify-content: space-around;
	align-items: center;
	}
.flexProced {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 75%;
	margin: auto;
	margin-top: 1.4rem;
	box-shadow: 5px 5px 15px 0 rgba(20, 71, 37, 0.253);
	border-radius: 30% 30% 5% 5%;
	background: linear-gradient(to right,rgba(60, 233, 80, 0.116), 
	rgba(146, 119, 245, 0.123)); 
	}
.flexCenter {
	align-self: center;
	width: 35%;
	}
.flexCenterProc {
	align-self: center; 
	width: 85%; 
	text-align: center;
	margin-bottom: 1rem;
	}
.flexGaleria {
	display: flex;
	justify-content: center;
    }
    

/*FORM*/

legend {
	margin: auto;
	font-family: 'Architects Daughter', cursive; 
	font-size: larger;
	font-weight: bolder;
	}
label {
	font-size: 1.2rem;
	display: inline-block;
	text-align: center;
	}
input, select, textarea {
	border: solid 1px darkgreen;
	border-radius: 4px;
	box-shadow: 2px 4px 6px 0 darkgreen;
	background-color: #f0f8d2b4;
	font-family:'Architects Daughter', cursive;
	font-size: large;
	color: darkgreen;
	padding: 5px;
	margin: 0.5rem;
	text-align: center;
	}
.botones:hover {
	background-color: darkgreen;
	opacity: 0.8;
	color:#F0F8D2;
	cursor: pointer;
	transform: scale(1.2);
	transition: transform 4s;
	}
.flexForm {
	display: flex;
	flex-direction: column;
	align-items: center;
	}
.flexFieldset {
	background: rgba(60, 233, 80, 0.212);
	border-color: rgba(0, 100, 0, 0.404);
	border-radius: 0.5rem;
	display: flex;
	justify-content: center;
	margin: 1rem;
	padding: 0.5rem;
	align-items: center;
	text-align: center;
	}


/*FOOTER*/

footer {
	width: 100%;	
	background: linear-gradient(to left,rgba(60, 233, 80, 0.3), 
	rgba(146, 119, 245, 0.3));
	}
.flexFooter {
	display: flex;
	flex-direction: column;
	margin-top: 2rem;
	align-items: center;
	}
.flexIcons {
	display: flex;
	justify-content: center;
	width: 35%;
	justify-content: space-around;
	}



/*MEDIAQ 850*/

@media only screen and (max-width: 850px) 
{
	/*nav*/
	.subMenu {line-height: 1.5rem;}
	
	/*INDEX*/
	.gridSubMain {
		display: grid;
		width: 100%;
		grid-template-columns: 1fr;
		grid-template-rows: repeat(4, auto);
		grid-template-areas: "intro" "fotos" "table" "map";
		grid-gap: 0;
		}
	.barra {
			height: 5rem;
		}
	.mainF { 
		width: 70%;
		}
	.figures {
		font-size: 2rem;
		}
	.figCap {
		margin: 0.5rem;
		}

		

	/*dips salados dulces*/
	.flexRecetas {
		flex-direction: column;
		align-items: center;
		}
	.figuresGaleria {
		width: 65%;
		}	
	.flexCenter {
		width: 50%
		}
	.flexGaleria {
		flex-direction: column;
		align-items: center;
		}
	.listasIngredientes {
		width: 80%
		}
	.marginSection {
		margin-top: 1rem;
		}

	/*contacto*/
	.flexFieldset {
		flex-direction: column;
		}
	.inputNombreApellido {
		width: 60%
		}	
}


/*MEDIAQ 450*/

@media only screen and (max-width: 450px) 
{
	/*nav*/
	.flexMenu {
		display: none;
		}
	.iconosNav {
		display: flex;
		justify-content: space-evenly;
		align-items: flex-end;
		width: 60%;
		color: darkgreen;
		}
	.logoV {
		margin-bottom: -0.5rem
		}
	.vegg {
		display: none;
		}

	/*generales*/
	.tituH2 {
		font-size: 1.2rem;
		}
	.flexCenter {
		width: 70%
		} 
	.figCap {
		margin: 0
		}
	.mainA {
		width: 75%
		}	
	.mainF {
		width: 80%;
		}
	.barra {
		height: 1rem;
		}


	/*dips saladas dulces*/	
	.flexFotos {
		flex-direction: column;
		}
	.figCapGaleria {
		width: 60%
		}
	.tituH3 {font-size: 1.2rem;}	
	.gridSubMain {
		grid-gap: 0;
		}
	.flexProced {
		border-radius: 15% 15% 5% 5%;
		}
	
	/*table*/	
	.fontTable450 {
		font-size: 0.8rem;
		}
			
}

/*ANIMACIONES*/

@keyframes barra {
	0% {background-image: url(../img/1index163.jpg);}
	25% {background-image: url(../img/2walldips163.jpg);}
	50% {background-image: url(../img/3wallsalados163.jpg);}
	75% {background-image: url(../img/4walldulces163.jpg);}
	100% {background-image: url(../img/5.jpg);}
	}

.barra {
	height: 7rem;
	width: 100%;
	animation-name: barra;
	animation-iteration-count: infinite;
	animation-timing-function: ease;
	animation-duration: 25s;
	background-size: cover;
	background-position: center;
	
	}		

